@model List<Cart>
@using System.Security.Claims
<div id="wrapper" class="border-end-0">
    <div class="card-body my-4">
        <div class="row">
        </div>
        <div class="row mb-3 pb-3">
            <div class="col-md-2 offset-md-1">
                <a href="/Customer/movie/index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>Continue Shopping</small></a>
            </div>
            <div class="col-md-10 offset-md-1">


                @foreach (var item in Model)
                {
                    <div class="row border-bottom pb-3">
                        <div class="d-none d-lg-block col-lg-1 text-center py-2">
                            <img src="~/images/movies/@item.Movie.ImgUrl" class="rounded" />
                        </div>
                        <div class="col-12 col-lg-6 pt-md-3">
                            <h5 class="text-uppercase text-secondary"><strong>@item.Movie.Name</strong></h5>
                            <p><small>@item.Movie.Description</small></p>
                        </div>
                        <div class="col-12  col-lg-5 text-center row">
                            <div class="col-3 text-md-right pt-2 pt-md-4">
                                <h2 class="fw-semibold">
                                    @item.Movie.Price
                                    <span class="text-muted">&nbsp;x&nbsp;</span>@item.Count
                                </h2>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                <div class="w-75 btn-group" role="group">
                                    <a href="/Customer/Cart/Increment?movieId=@item.MovieId" class="btn btn-outline-primary bg-gradient py-2">
                                        <i class="btn-success">+</i>
                                    </a> &nbsp;
                                    <a href="/Customer/Cart/Decrement?movieId=@item.MovieId" class="btn btn-outline-primary bg-gradient py-2">
                                        <i class="bi bi-dash-square">-</i>
                                    </a>
                                    <div href="Customer/Cart/Increment" class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                        <a href="/Customer/Cart/Delete?movieId=@item.MovieId" class="btn btn-danger rounded-circle d-flex justify-content-center align-items-center" style="width: 40px; height: 40px;">
                                            <i class="bi bi-trash-fill text-white fs-5">X</i>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                }
            </div>
        </div>
        <div class="card-footer bg-white border-0">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <ul class="list-group mb-4">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5 class="text-dark fw-semibold text-uppercase">Total (EGP)</h5>
                            <h4 class="text-dark fw-bolder">@ViewBag.Total</h4>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-5">
                    <a href="/Customer/Cart/Pay" class="btn btn-primary border-0 bg-gradient w-100 py-2">Pay Now</a>
                </div>
            </div>
        </div>
       
 </div>